<style>
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }
    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }
</style>
<div class="container" style="margin-top:25px;">
    <h2>{{projectName}}</h2>
    <a class="btn btn-success pull-right" title="Add New Beneficiary" data-toggle="tooltip" data-placement="bottom" tooltip ui-sref="beneficiaryCreate" ui-sref-active="beneficiaryCreate">Enroll Beneficiary</a>


    <!--<table class="table"><thead><th>Sample</th><th>Action</th></thead><tbody><tr><td>ACI Info</td><td><button class="btn btn-warning" ng-confirm-click="run('false')">Run</button></td></tr><tr><td>ACI Default</td><td><button class="btn btn-primary" ng-confirm-click="run('ACI')">Run</button></td></tr></tbody></table>-->
    <!--<table class="table table-bordered"><thead><th>Item</th><th>Action</th></thead><tbody><tr ng-repeat="item in someData"><td>{{item}}</td><td><button class="btn btn-danger" ng-click="run(item)">Run</button> </td></tr></tbody></table>-->



    <uib-tabset active="active">
        <uib-tab index="0" heading="Beneficiaries List" >
            <br/><br/>
            <table class="table table-striped table-bordered table-responsive">
                <thead><tr><th>Beneficiary</th><th>Contact Info</th><th>Actions</th></tr></thead>
                <tbody>
                <tr ng-repeat="item in model.values track by $index"><td>{{item.name}}</td><td>{{item.phone}}</td><td><a title="Edit {{item.name}}" data-toggle="tooltip" data-placement="bottom" tooltip class="btn btn-warning" >Edit</a> |
                    <a title="Delete {{item.name}}" data-toggle="tooltip" data-placement="bottom" tooltip class="btn btn-danger" href="#" confirmed-click="model.delete(row)" ng-confirm-click="Would you like to delete?">Delete</a></td></tr>
                </tbody>
            </table>
        </uib-tab>
    </uib-tabset>

</div>