<div class="container" style="margin-top:25px;">
    <h2>{{projectName}}</h2>


    <!--<table class="table"><thead><th>Sample</th><th>Action</th></thead><tbody><tr><td>ACI Info</td><td><button class="btn btn-warning" ng-confirm-click="run('false')">Run</button></td></tr><tr><td>ACI Default</td><td><button class="btn btn-primary" ng-confirm-click="run('ACI')">Run</button></td></tr></tbody></table>-->
    <!--<table class="table table-bordered"><thead><th>Item</th><th>Action</th></thead><tbody><tr ng-repeat="item in someData"><td>{{item}}</td><td><button class="btn btn-danger" ng-click="run(item)">Run</button> </td></tr></tbody></table>-->



    <uib-tabset active="active">
        <uib-tab index="0" heading="Create Beneficiary Account">
            <div class="container">
                <form name="form" ng-submit="model.save()" novalidate>
                    <label>Name</label>: <input type="text" data-ng-model="model.name" class="form-control" /><br/>
                    <label>Phone</label>: <input type="text" data-ng-model="model.phone" class="form-control" /><br/>
                    <label>Bank Name</label>: <input type="text" data-ng-model="model.bankName" class="form-control" /><br/>
                    <label>Account Number</label>: <input type="text" data-ng-model="model.accountNo" class="form-control" /><br/>
                    <button type="submit" class="btn btn-success">Create</button>
                </form>
            </div>
        </uib-tab>
    </uib-tabset>

</div>