<div>
    <h2>{{projectName}}</h2>
    <uib-tabset active="active">
        <uib-tab index="0" heading="Programs">

            <div class="container">
                <br/>
                <div class="pull-right"><a class="btn btn-success" ui-sref="program-edit">Create Program</a><br/><br/></div>

                <table class="table table-bordered table-responsive">
                    <thead>
                    <tr class="bg-info">
                        <th>Program Name</th>
                        <th>Fund Allocated</th>
                        <th>Fund Frequency</th>
                        <th>Conditional Aid Inputs</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in programModel.nclInfo">
                        <td><span>{{row.api}}</span></td>
                        <td><span>{{row.fund}}</span></td>
                        <td><span>{{row.frequency}}</span></td>
                        <td>
                            <table class="table table-bordered">
                                <thead>
                                <tr class="bg-info">
                                    <th>Name</th>
                                    <th>InputType</th>
                                    <th>Required</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="y in row.nclApiParameters">
                                    <td><span>{{y.name}}</span></td>
                                    <td><span>{{y.inputType}}</span></td>
                                    <td><span>{{y.required}}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td><a class="btn btn-warning" ui-sref="program-edit({api: nclIds[$index]})">Edit</a> <button class="btn btn-danger" confirmed-click="model.delete(row)" ng-confirm-click="Would you like to delete?">Delete</button></td>

                    </tr>

                    </tbody>
                </table>

            </div>
        </uib-tab>


        <uib-tab index="3" heading="Funding">
            <br/>
            <div>
                <table><tr><td><div google-chart chart="myChartObject" style="height:600px; width:100%;"></div></td><td><div google-chart chart="myChartObject2" style="height:600px; width:100%;"></div></td></tr></table>




            </div>
        </uib-tab>

    </uib-tabset>
</div>