<div>
    {{projectName}}
    <uib-tabset active="active">
        <uib-tab index="1" heading="Beneficiaries">
            <br/>
            <div class="container">
                <a class="btn btn-success pull-right" title="Add New Beneficiary" data-toggle="tooltip" data-placement="bottom" tooltip ui-sref="beneficiaryCreate" ui-sref-active="beneficiaryCreate">Enroll Beneficiary</a>
                <br/>
                <br/>
                <table class="table table-striped table-bordered table-responsive">
                    <thead><tr><th>Beneficiary</th><th>Contact Info</th><th>Action</th></tr></thead>
                    <tbody>
                    <tr ng-repeat="item in model.beneficiaries track by $index"><td>{{item.name}}</td><td>{{item.phone}}</td><td><a title="Edit {{item.name}}" data-toggle="tooltip" data-placement="bottom" tooltip class="btn btn-warning" >Edit</a> |
                        <a title="Delete {{item.name}}" data-toggle="tooltip" data-placement="bottom" tooltip class="btn btn-danger" href="#" confirmed-click="model.delete(row)" ng-confirm-click="Would you like to delete?">Delete</a></td></tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="2" data-ng-click="fetchStudents()" heading="Students">
            <br/>
            <div class="container">
                <a class="btn btn-primary pull-right" title="Add New Student" data-toggle="tooltip" data-placement="bottom" tooltip ui-sref="createStudent" ui-sref-active="createStudent">Enroll Student</a>
                <br/>
                <br/>

                <table class="table table-striped table-bordered table-responsive">
                    <thead><tr><th>Student</th><th>Program</th><th>Beneficiary</th><th>Contact</th><th>Action</th></tr></thead>
                    <tbody>
                    <tr ng-repeat="item in model.students track by $index"><td>{{item.name}}</td><td>{{item.program}}</td><td>{{item.beneficiary.name}}</td><td>{{item.beneficiary.phone}}</td><td><a title="Edit {{item.name}}" data-toggle="tooltip" data-placement="bottom" tooltip class="btn btn-warning" >Edit</a> |
                        <a title="Delete {{item.name}}" data-toggle="tooltip" data-placement="bottom" tooltip class="btn btn-danger" href="#" confirmed-click="model.delete(row)" ng-confirm-click="Would you like to delete?">Delete</a></td></tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="4" data-ng-click="model.viewTransactions()" heading="View Transactions">
            <br/>
            <div class="container">
                <div class="row pull-right">Search: <input ng-model="search"/></div>
                <br/><br/>
                <div ng-if="viewTransactionsStatus">
                    <table class="table table-striped table-bordered table-responsive">
                        <thead><tr><th>Beneficiary</th><th>Student</th><th>Amount</th><th>Date</th></tr></thead>
                        <tbody>
                        <tr ng-repeat="item in transactions | filter:search"><td>{{item.beneficiary.name}}</td><td>{{item.student.name}}</td><td>{{item.amount}}</td><td>{{item.date}}</td></tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </uib-tab>
        <uib-tab index="5" heading="Search Transactions">
            <br/>
            <div class="container" ng-if="!searchTransactionsStatus">
                <form name="form" ng-submit="model.searchTransactions()" novalidate>
                    <label>Participant</label>: <input type="text" data-ng-model="model.participant"  class="form-control" list="participants" id="participant">
                    <datalist id="participants"  ng-model="participant">
                        <option value=''>-- select an option --</option>
                        <option ng-repeat="option in model.participants | filter:model.participant | limitTo:6" value="{{option.name}}"></option>
                    </datalist><br/>
                    <label>Type</label>: <select data-ng-model="model.type" class="form-control"><option value="beneficiary">Beneficiary</option><option value="student">Student</option></select><br/>
                    <pre>From date: <em>{{fromdt | date:'fullDate' }}</em></pre>
                    <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="fromdt" class="well well-sm" datepicker-options="options"></div>
                    </div>
                    <pre>To date: <em>{{todt | date:'fullDate' }}</em></pre>
                    <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="todt" class="well well-sm" datepicker-options="options"></div>
                    </div>
                    <label>Action</label>: <input type="text" data-ng-model="model.action"  class="form-control" list="actions" id="action">
                    <datalist id="actions"  ng-model="action">
                        <option value=''>-- select an option --</option>
                        <option ng-repeat="option in model.actions | filter:model.action | limitTo:6" value="{{option.name}}"></option>
                    </datalist><br/>
                    <button type="submit" class="btn btn-success">Search Transactions</button>
                </form>
            </div>
            <!--ng-if="searchTransactionsStatus"-->
            <div ng-if="searchTransactionsStatus" class="container" >
                <div class="pull-right">
                    <table><tbody><tr><td>Table

                    </td><td>
                    &nbsp;&nbsp; <label class="switch">
                        <input type="checkbox" ng-model="graph" ng-click="toggleSearch()">
                        <div class="slider round"></div>
                    </label>
                    </td><td>
                        &nbsp;&nbsp; Graph
                </td></tr></tbody></table>


                </div>
                <div ng-if="!showGraph">
                    <h4>Student: <i>Jenny</i></h4>
                <table  class="table table-striped table-bordered table-responsive">
                    <thead><tr><th>Date</th><th>Attendance</th></tr></thead>
                    <tbody>
                    <tr ng-repeat="item in model.searchData track by $index"><td>{{item.date}}</td><td>{{item.attendance}}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <!--ng-if="showGraph"-->

            </div>
            <div ng-show="!showGraph" ng-class="hidden" id="chart_div"></div>
            <script type="text/javascript">
                document.getElementById('chart_div').style.visibility='hidden';
            </script>
        </uib-tab>
        <uib-tab index="6" heading="Track Aid / Generate Report">
            <br/>
            <div class="container">
                <form name="form" ng-submit="model.generateReport()" novalidate>
                    <label>Program Name</label>: <input type="text" data-ng-model="model.program"  class="form-control"  list="names" id="program">
                    <datalist id="names"  ng-model="name">
                        <option value=''>-- select an option --</option>
                        <option ng-repeat="option in programList | filter:model.program | limitTo:6" value="{{option.name}}"></option>

                    </datalist><br/>
                    <label>Program Month</label>: <input type="text" data-ng-model="model.dateInput"  class="form-control"  list="months" id="month">
                    <datalist id="months"  ng-model="month">
                        <option value=''>-- select an option --</option>
                        <option ng-repeat="option in monthList | filter:model.dateInput | limitTo:12" value="{{option.value}}">{{option.name}}</option>

                    </datalist><br/>
                    <button type="submit" class="btn btn-success">Generate Report</button><br/>
                </form>
                <div ng-if="generateReportStatus">
                    <div class="row pull-right">Search: <input ng-model="reportSearch"/></div>
                    <br/><br/>
                    <table class="table table-striped table-bordered table-responsive">
                        <thead><tr><th>Beneficiary</th><th>Student</th><th>Condition Status</th><th>Aid Transfer</th><th>Receipt Validation</th></tr></thead>
                        <tbody>
                        <tr ng-repeat="item in model.report|filter:reportSearch"><td>{{item.beneficiaryName}}</td><th>{{item.studentName}}</th>
                            <th><span ng-if="item.validated" class="glyphicon glyphicon-ok icon-success"></span>
                                <span ng-if="!item.validated" class="glyphicon glyphicon-remove icon-danger"></span>
                                </span></th><th><span ng-if="item.validated" class="glyphicon glyphicon-ok icon-success"></span>
                                <span ng-if="!item.validated" class="glyphicon glyphicon-remove icon-danger"></span></th><th><span ng-if="item.validated" class="glyphicon glyphicon-ok icon-success"></span>
                                <span ng-if="!item.validated" class="glyphicon glyphicon-remove icon-danger"></span></th>
                            <!--<th><span ng-if="item.conditionStatus" class="glyphicon glyphicon-ok icon-success"></span>-->
                            <!--<span ng-if="!item.conditionStatus" class="glyphicon glyphicon-remove icon-danger"></span>-->
                            <!--</span></th><th><span ng-if="item.aidTransfer" class="glyphicon glyphicon-ok icon-success"></span>-->
                            <!--<span ng-if="!item.aidTransfer" class="glyphicon glyphicon-remove icon-danger"></span></th><th><span ng-if="item.Receipt" class="glyphicon glyphicon-ok icon-success"></span>-->
                            <!--<span ng-if="!item.Receipt" class="glyphicon glyphicon-remove icon-danger"></span></th>-->
                        </tr>
                        </tbody>
                    </table></div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>