<div class="container">
    <h2>Program Details</h2>
    <table class="table table-responsive">

    <form>
        <div class="form-group"> <tr><td>
            <label for="name">Program Name</label></td>
            <td><input type="text" data-ng-model="model.api" class="form-control" id="name"></td></tr>
        </div>
        <div class="form-group"> <tr><td>
            <label for="fund">Fund Amount</label></td>
            <td><input type="text" data-ng-model="model.fund" class="form-control" id="fund"></td></tr>
        </div>
        <div class="form-group"> <tr><td>
            <label for="frequency">Funding Frequency</label></td>
            <td><select ng-model="model.frequency" id="frequency">
                <option value="">-- Select Data Type --</option>
                <option ng-repeat="x in model.frequencyTypes" ng-value="x"
                        ng-selected="selectedType == x">{{x}}</option>
            </select></td></tr>
        </div>
        <div class="form-group"> <tr><td>
            <label for="benf">Beneficiary Configuration</label></td>
            <td><button class="btn btn-info" id="benf">Configure</button></td></tr>
        </div>
    </form>
    <tr><td colspan="2"><label>Conditional Parameter List</label>
        <table class="table table-bordered">
            <thead>
            <tr>

                <th>
                    Parameter Name
                </th>
                <th>
                    Input Type
                </th>
                <th>
                    Required
                </th>
                <th>Action</th>
            </tr>
            </thead>
            <tr ng-repeat="y in model.nclApiParameters">

                <td>
                    <input ng-show="toggle" ng-model="y.name"></td>
                <td>
                    <select ng-model="y.inputType">
                        <option value="">-- Select Data Type --</option>
                        <option ng-repeat="x in model.inputTypes" ng-value="x"
                                ng-selected="selectedType == x">{{x}}</option>
                    </select>
                </td>
                <td>
                    <input type="checkbox" ng-model="y.required" />
                </td>
                <td><button name="btnDelete" id="y.Id" class="btn btn-danger" confirmed-click="model.deleteParam($index)" ng-confirm-click="Would you like to remove parameter?" >Remove</button></td>
            </tr>
            <tr >
                <td colspan="4" ><div class=""><button name="btnAdd" class="btn btn-primary" ng-click="model.addParam()">Add New Parameter</button></div></td>
            </tr>
        </table>
    </td></tr>
        <tr><td colspan="2"><label>Conditional Aid Rule Configuration</label>
            <table class="table table-bordered">
                <thead>
                <tr><th>
                    Rule
                </th>
                    <th>
                        Condition
                    </th>
                    <th>
                        Operation
                    </th>
                    <th>
                        Field
                    </th>
                    <th>
                        Value
                    </th>
                    <th>Action</th>
                </tr>
                </thead>
                <tr ng-repeat="o in model.conditionStatements">

                    <td><input ng-show="toggle" ng-model="o.name"></td>
                    <td>
                        <select ng-model="o.inputType">
                            <option value="">-- Select Data Type --</option>
                            <option ng-repeat="x in model.conditionTypes" ng-value="x"
                                    ng-selected="selectedType == x">{{x}}</option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="o.aggregateType">
                            <option value="">-- Select Data Type --</option>
                            <option ng-repeat="x in model.operationTypes" ng-value="x"
                                    ng-selected="selectedType == x">{{x}}</option>
                        </select>
                    </td>
                    <td><input ng-show="toggle" ng-model="o.field"></td>
                    <td><input ng-show="toggle" ng-model="o.value"></td>
                    <td><button name="btnDelete" id="o.Id" class="btn btn-danger" confirmed-click="model.deleteDef($index)" ng-confirm-click="Would you like to remove parameter?" >Remove</button></td>
                </tr>
                <tr >
                    <td colspan="6" ><div class=""><button name="btnAdd" class="btn btn-primary" ng-click="model.addDef()">Add New Definition</button></div></td>
                </tr>
            </table>
        </td></tr>
    <tr><td> <button type="submit" class="btn btn-success" data-ng-click="model.save()">Save</button>
        <button type="button" class="btn btn-danger" data-ng-click="model.cancel()">Cancel</button></td></tr>

    </table>
</div>