<div class="container" style="margin-top:25px;">
    <h2>{{projectName}}</h2><br/><br/>


    <!--<table class="table"><thead><th>Sample</th><th>Action</th></thead><tbody><tr><td>ACI Info</td><td><button class="btn btn-warning" ng-confirm-click="run('false')">Run</button></td></tr><tr><td>ACI Default</td><td><button class="btn btn-primary" ng-confirm-click="run('ACI')">Run</button></td></tr></tbody></table>-->
    <!--<table class="table table-bordered"><thead><th>Item</th><th>Action</th></thead><tbody><tr ng-repeat="item in someData"><td>{{item}}</td><td><button class="btn btn-danger" ng-click="run(item)">Run</button> </td></tr></tbody></table>-->



    <uib-tabset active="active">
        <uib-tab index="0" heading="Create Beneficiary Account">
            <div class="container">
                <form name="form" ng-submit="model.save()" novalidate>
                   <br/>
                    <label>Name</label>: <input type="text" data-ng-model="model.name" class="form-control" /><br/>
                    <label>Beneficiary Details</label>:<input type="text" data-ng-model="model.beneficiary"  class="form-control"  list="names" id="beneficiary">
                    <datalist id="names"  ng-model="name">
                        <option value=''>-- select an option --</option>
                        <option ng-repeat="option in beneficiaryList | filter:model.beneficiary | limitTo:6" value="{{option.name}}"></option>
                    </datalist><br/>
                    <label>Aid Program</label>:<input type="text" data-ng-model="model.program"  class="form-control"  list="programs" id="program">
                    <datalist id="programs"  ng-model="program">
                        <option value=''>-- select an option --</option>
                        <option ng-repeat="option in programList | filter:model.program | limitTo:6" value="{{option.name}}"></option>
                    </datalist><br/>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </uib-tab>
        <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
            {{tab.content}}
        </uib-tab>
    </uib-tabset>

</div>