<style>
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }
    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }
</style>
<div class="container" style="margin-top:25px;">
    <h2>{{projectName}}</h2>
    <a class="btn btn-primary pull-right" title="Add New Student" data-toggle="tooltip" data-placement="bottom" tooltip ui-sref="createStudent" ui-sref-active="createStudent">Enroll Student</a>


    <!--<table class="table"><thead><th>Sample</th><th>Action</th></thead><tbody><tr><td>ACI Info</td><td><button class="btn btn-warning" ng-confirm-click="run('false')">Run</button></td></tr><tr><td>ACI Default</td><td><button class="btn btn-primary" ng-confirm-click="run('ACI')">Run</button></td></tr></tbody></table>-->
    <!--<table class="table table-bordered"><thead><th>Item</th><th>Action</th></thead><tbody><tr ng-repeat="item in someData"><td>{{item}}</td><td><button class="btn btn-danger" ng-click="run(item)">Run</button> </td></tr></tbody></table>-->



    <uib-tabset active="active">
        <uib-tab index="0" heading="Submit Attendance">
            <div class="container">
                <br/>
                <form name="form" ng-submit="model.saveInput()" novalidate>
                    <label>Name</label>:<input type="text" data-ng-model="model.name"  class="form-control"  list="studentNames" id="student">
                    <datalist id="studentNames"  ng-model="student">
                        <option value=''>-- select an option --</option>
                        <option ng-repeat="option in model.students | filter:model.name | limitTo:6" value="{{option.name}}"></option>

                    </datalist><br/>
                    <label>Attendance</label>:
                    <input type="checkbox" data-ng-model="model.attendance" class="form-control" /><br/>
                    <pre>Selected date is: <em>{{model.attendedDate | date:'fullDate' }}</em></pre>
                    <input type="date" id="attendedDate" name="input" data-ng-model="model.attendedDate"
                           placeholder="yyyy-MM-dd" class="form-control" min="2017-01-01" max="2020-12-31" required /><br/><br/>
                    <!--<div style="display:inline-block; min-height:290px;">-->
                        <!--<div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>-->
                    <!--</div>-->
                    <button type="submit" class="btn btn-success pull-right">Save</button>
                </form>
            </div>
        </uib-tab>
        <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
            <!--{{tab.content}}-->
            <span ng-bind-html="trustHtml(tab.content)"></span>
        </uib-tab>
    </uib-tabset>

</div>